@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
.header {
  padding: 10px 20px 0px 20px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  background-color: white;
  z-index: 100;
  top: 0;
  box-shadow: 10px 10px 28px 0px rgba(155, 148, 148, 0.25);
  font-family: "Noto Sans", sans-serif;
}
.header__input {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}
.header__input > svg {
  color: #1c98e0;
  padding-right: 10px;
  font-size: 30px;
}
.header__input > .btn {
  display: flex;
background-color: #eee !important;
  align-items: center;
  border-radius: 30px;
  border: 1px solid #1c98e0;
  padding: 3px 20px;
  color: black !important;
}
.input__button {
  font-weight: 700 !important ;
  padding-left: 10px;
}
